In [1]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

import seaborn as sns

import sklearn

from sklearn.linear_model import PoissonRegressor

In [2]:
## reading data

data = pd.read_csv('Cleaned_Data.csv')

In [3]:
data.shape

(3274, 9)

In [4]:
## Lets see null values
data.isnull().sum()

Vital             0
M(T2P)            0
Complaint Date    0
Tag No            0
Machine           0
Fault             0
Month             0
Day               0
Year              0
dtype: int64

In [5]:
data.head()

,Vital,M(T2P),Complaint Date,Tag No,Machine,Fault,Month,Day,Year
0,N,E,11/11/2020,BC1-02,Battery Car,Batteries Replaceable,11,11,2020
1,N,E,10/06/2020,A1-5-5,Test Stand For Reducer lead,Switch Faulty,10,6,2020
2,N,M,2/25/2021,A1-4-2A,15 Ton Doble Hook Crane,Large Hook Fqaulty,2,25,2021
3,N,M,03/01/2021,A1-2-50,Gun Assy Trolly with stand,Compound plate broken,3,1,2021
4,N,M,03/02/2021,A1-2-33,Eng Lathe M/c,Threading dial faulty,3,2,2021

In [6]:
## count number of faults for 3 years
## count number of faults for each year

In [7]:
# Grouping Tag No and Making a new column counts of faults

Tag_no_grouped  = data.groupby( [ "Tag No"]).size().reset_index()

In [8]:
# Renaming Columns
Tag_no_grouped.rename(columns={0: 'Faults_Counts'},
                   inplace=True, errors='raise')

In [9]:
#Tag_no_grouped.shape
Tag_no_grouped.shape

(325, 2)

In [10]:
merged = pd.merge(data, Tag_no_grouped, on= 'Tag No',how='inner',)

In [11]:
new = merged.drop_duplicates(subset=['Tag No'])

In [12]:
new.shape

(325, 10)

In [13]:
new.head()

,Vital,M(T2P),Complaint Date,Tag No,Machine,Fault,Month,Day,Year,Faults_Counts
0,N,E,11/11/2020,BC1-02,Battery Car,Batteries Replaceable,11,11,2020,14
14,N,E,10/06/2020,A1-5-5,Test Stand For Reducer lead,Switch Faulty,10,6,2020,16
30,N,M,2/25/2021,A1-4-2A,15 Ton Doble Hook Crane,Large Hook Fqaulty,2,25,2021,11
41,N,M,03/01/2021,A1-2-50,Gun Assy Trolly with stand,Compound plate broken,3,1,2021,19
60,N,M,03/02/2021,A1-2-33,Eng Lathe M/c,Threading dial faulty,3,2,2021,7

In [16]:
new['Average_Fault_Days'] = (1000 / new['Faults_Counts'])

<ipython-input-16-af64fc0aac7a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new['Average_Fault_Days'] = (1000 / new['Faults_Counts'])

In [17]:
new['Average_Fault_Days'] = new['Average_Fault_Days'].astype('int')

<ipython-input-17-0110cd1ee083>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new['Average_Fault_Days'] = new['Average_Fault_Days'].astype('int')

In [20]:
new.head()

,Vital,M(T2P),Complaint Date,Tag No,Machine,Fault,Month,Day,Year,Faults_Counts,Average_Fault_Days
0,N,E,11/11/2020,BC1-02,Battery Car,Batteries Replaceable,11,11,2020,14,71
14,N,E,10/06/2020,A1-5-5,Test Stand For Reducer lead,Switch Faulty,10,6,2020,16,62
30,N,M,2/25/2021,A1-4-2A,15 Ton Doble Hook Crane,Large Hook Fqaulty,2,25,2021,11,90
41,N,M,03/01/2021,A1-2-50,Gun Assy Trolly with stand,Compound plate broken,3,1,2021,19,52
60,N,M,03/02/2021,A1-2-33,Eng Lathe M/c,Threading dial faulty,3,2,2021,7,142

In [21]:
model_data = new[['Tag No', 'Month', 'Day', 'Year','Average_Fault_Days', 'Faults_Counts']]

model_data.head()

     Tag No  Month  Day  Year  Average_Fault_Days  Faults_Counts
0    BC1-02     11   11  2020                  71             14
14   A1-5-5     10    6  2020                  62             16
30  A1-4-2A      2   25  2021                  90             11
41  A1-2-50      3    1  2021                  52             19
60  A1-2-33      3    2  2021                 142              7

In [27]:
## one hot encoding for tag Nos

from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder

transform = ohe.fit_transform(self,X=model_data[['Tag No']])

NameError: name 'self' is not defined